<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>validationOfLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>ServletDashboardPage</servlet-name>
  <servlet-class>com.simplilearn.project1.ServletDashboardPage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ServletDashboardPage</servlet-name>
  <url-pattern>/ServletDashboardPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addStudents</servlet-name>
    <servlet-class>com.simplilearn.project1.addStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudents</servlet-name>
    <url-pattern>/addStudents</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>liststudents</servlet-name>
    <servlet-class>com.simplilearn.project1.liststudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststudents</servlet-name>
    <url-pattern>/liststudents</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addTeachers</servlet-name>
    <servlet-class>com.simplilearn.project1.addTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTeachers</servlet-name>
    <url-pattern>/addTeachers</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>listteachers</servlet-name>
    <servlet-class>com.simplilearn.project1.listteachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listteachers</servlet-name>
    <url-pattern>/listteachers</url-pattern>
  </servlet-mapping>
</web-app>
</element>